@import '../variables';
@import '../mixins';


/*-----------------------------------------
CARD
------------------------------------------*/
.card {
    @include positioning(fixed, auto, 10px, 10px, auto);
    padding: 10px 15px;
    border-radius: 4px;
    border: 2px solid white;   

    &:hover{
        background:linear-gradient(45deg, $primaryColor 0%, $secondaryColor 100%);
        transition: $transition;
        cursor: pointer;
    }

    @include breakpoint(sm){
        padding: 10px;
        font-size: 0.8rem;
    }
}
