.gallery {

    &-content {
        @include grid(3, 20px);
        grid-template-areas: 'prva prva druga'
            'treca cetvrta peta'
            'treca sesta sesta';
        grid-template-rows: repeat(3, 30vh);

        @include breakpoint(md) {
            grid-template-areas:
                'prva prva prva'
                'druga druga druga'
                'treca treca treca'
                'cetvrta cetvrta cetvrta'
                'peta peta peta'
                'sesta sesta sesta';
            grid-template-rows: repeat(3, auto);
        }

        &-item {
            overflow: hidden;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 150ms;

                &:hover {
                    transform: scale(1.2);
                    transition: $transition;
                    opacity: 0.75;
                }
            }

            &:nth-child(1) {
                grid-area: prva;
            }

            &:nth-child(2) {
                grid-area: druga;
            }

            &:nth-child(3) {
                grid-area: treca;
            }

            &:nth-child(4) {
                grid-area: cetvrta;
            }

            &:nth-child(5) {
                grid-area: peta;
            }

            &:nth-child(6) {
                grid-area: sesta;
            }
        }
    }
}