.gallery {

    &-content {
        @include grid(3, 20px);
        grid-template-areas: 'prva prva druga'
            'treca cetvrta peta'
            'treca sesta sesta';
        grid-template-rows: repeat(3, 30vh);

        @include breakpoint(md) {
            grid-template-areas:
                'prva prva prva'
                'druga druga druga'
                'treca treca treca'
                'cetvrta cetvrta cetvrta'
                'peta peta peta'
                'sesta sesta sesta';
            grid-template-rows: repeat(3, auto);
        }

        &-item {
            overflow: hidden;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 150ms;

                &:hover {
                    transform: scale(1.2);
                    transition: $transition;
                    opacity: 0.75;
                }
            }

            &:nth-child(1) {
                grid-area: prva;
            }

            &:nth-child(2) {
                grid-area: druga;
            }

            &:nth-child(3) {
                grid-area: treca;
            }

            &:nth-child(4) {
                grid-area: cetvrta;
            }

            &:nth-child(5) {
                grid-area: peta;
            }

            &:nth-child(6) {
                grid-area: sesta;
            }
        }
    }


    &-popup {
        @include positioning(fixed, 0%, 0%, 0%, 0%);
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        animation: openPopup .5s ease-in;

        &.visible {
            display: block;
        }

        i {
            @include positioning(absolute, 15px, 10px, auto, auto, auto, auto);
            font-size: 1.5rem;
            color: white;
            cursor: pointer;

            @include breakpoint(sm) {
                font-size: 1.2rem
            }
        }

        &-body {
            @include positioning(relative, 50%, auto, auto, 50%, 90%, 90%);
            transform: translate(-50%, -50%);

            @media(max-width:1800px) {
                width: 75%;
                height: 60%;
            }

            @include breakpoint(xl) {
                width: 100%;
                height: 70%;
            }

            @include breakpoint(lg) {
                height: 50%;
            }

            @include breakpoint(md) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                resize: both;
            }
        }
    }


}