header {

    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/header-bg.jpg');
    @include bgImage(center, no-repeat, cover, 100vh, 100%);
    @include flex(center, center, column);


    .header-content {
        @include flex(center, center, column);
        animation: moveInFromBottom 1.2s ease-in-out;
        margin: 0px 10px;

        h1 {
            font-size: 3rem;

            @include breakpoint(md) {
                font-size: 2rem;
            }

            @include breakpoint(sm) {
                font-size: 1.5rem;
            }

            @include breakpoint(xs) {
                font-size: 1.2rem;
            }
        }
    }
}