@import '../variables';
@import '../mixins';
@import '../animations';


/*-----------------------------------------
HEADER SECTION 
------------------------------------------*/ 
header{

    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/header-bg.jpg');
    @include bgImage(90vh, 100%, center, no-repeat, auto, cover);
    @include flex(center,center,column,nowrap);
   

    .header-content{
        @include flex(center,center,column,nowrap);
        animation: moveInLeft 1.2s ease-in-out;

        h1{
            font-size: 3.5rem;

            @include breakpoint(md){
                font-size: 2rem;
            }

            @include breakpoint(sm){
                font-size: 1.5rem;
            }
        }
    }
}