@use '../index' as *;

.about {

    &__descripiton {
        text-align: justify;
        margin-bottom: 2rem;
    }

    &__wrapper {
        @include flex(center, center, row, wrap, 2rem);

        .about__list {

            &__item {
                font-weight: 500;
                font-size: 1.1rem;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                i {
                    color: $primaryColor;
                    margin-right: 0.5rem;
                    font-size: 1.2rem;
                }
            }
        }

        .about__img {

            img {
                height: 400px;
            }
        }
    }
}