@use '../index' as *;

.about {

    &-content {
        @include flex(center, space-around, row, wrap);

        article {

            ul {
                li {
                    font-size: 1.2rem;

                    @include breakpoint(sm) {
                        font-size: 0.8rem;
                    }
                }
            }


            &:first-child {
                @include flex(center, center, column);

                @include breakpoint(lg) {
                    margin-top: 25px;
                }
            }


            .about-icons {

                i {
                    @include icons;
                }

                span {
                    font-size: 1rem;

                    @include breakpoint(sm) {
                        font-size: 0.8rem;
                    }
                }
            }


            img {
                height: 600px;
                object-fit: cover;
                resize: both;

                @include breakpoint(sm) {
                    height: 400px;
                }

                @include breakpoint(xs) {
                    height: 350px;
                }
            }
        }
    }
}