@use '../index' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: .5s linear;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat',
        sans-serif;
    border: none;
    outline: none;
}

body {
    line-height: 1.5;
    font-size: 100%;
    overflow-x: hidden;

    @include breakpoint(sm) {
        font-size: 85%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
    text-transform: capitalize;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

i {
    cursor: pointer;
}

section {
    padding: 70px 0;
}

.container {
    width: 80%;
    margin: 0px auto;

    @include breakpoint(md) {
        width: 80%;
        margin: 0px auto;
    }
}