@use '../index' as *;

.nav {
    @include flex(space-between, center);
    position: relative;
    height: 10vh;

    &__logo {
        padding-left: 3rem;
        text-transform: uppercase;
        font-size: 3rem;
        color: $headingsColor;
        letter-spacing: 1.5px;

        @include breakpoint(sm) {
            font-size: 2rem;
            padding-left: 2rem;
        }
    }

    &__list {
        @include flex(flex-start, stretch, row, nowrap, 2rem);
        transition: 0s;

        @include breakpoint(lg) {
            flex-direction: column;
            position: absolute;
            top: 100%;
            z-index: 100;
            background-color: $primaryColor;
            gap: 1rem;
            color: white;
            width: 100%;
            padding: 1rem 0;
            padding-left: 3rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.open {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        @include breakpoint(sm) {
            padding-left: 2rem;
        }

        &__item {

            .nav__list__link {
                display: inline-block;
                color: $headingsColor;
                text-transform: uppercase;
                font-weight: 700;
                height: 10vh;
                line-height: 10vh;
                position: relative;

                &::before {
                    position: absolute;
                    top: calc(0% - 2px);
                    display: block;
                    content: "";
                    width: 0%;
                    height: 3px;
                    background-color: $primaryColor;
                    transition: .5s linear;
                }

                &:hover::before {
                    width: 100%;
                }

                @include breakpoint(lg) {
                    color: white;
                    height: 2rem;
                    line-height: 2rem;
                }
            }
        }

        .nav__btn {
            background-color: $primaryColor;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2rem;

            @include breakpoint(lg) {
                background-color: white;
                color: $primaryColor;
                border: 2px solid $primaryColor;
                justify-content: flex-start;
                padding: 1rem 2rem;
                margin-right: 3rem;
            }

            @include breakpoint(sm) {
                padding: 1rem;
            }

        }
    }

    #nav__hamburger {
        display: none;

        @include breakpoint(lg) {
            display: block;
            cursor: pointer;
            font-size: 2rem;
            margin-right: 3rem;
        }

        @include breakpoint(sm) {
            font-size: 1.5rem;
            margin-right: 2rem;
        }
    }
}