@use '../index' as *;

nav {
    padding: 15px 0px;
    background: linear-gradient(45deg, $secondaryColor 0%, $primaryColor 100%);
    position: fixed;
    z-index: 15;

    @include breakpoint(md) {
        padding: 10px 0px;
    }

    @include breakpoint(sm) {
        padding: 5px 0px;
    }

    .nav-content {
        @include flex(space-between, center);

        .logo {
            font-size: 1.8rem;
            letter-spacing: 1px;

            @include breakpoint(md) {
                font-size: 1.5rem;
            }

            @include breakpoint(sm) {
                font-size: 1rem;
            }
        }


        ul {
            @include flex(center, center);

            @include breakpoint(lg) {
                display: none;
            }
        }


        .toggle {
            background: url(https://i.ibb.co/HrfVRcx/menu.png);
            @include bgImage(center, no-repeat, 25px, 45px, 45px);
            cursor: pointer;
            z-index: 20;
            display: none;

            @include breakpoint(lg) {
                display: block;
            }

            @include breakpoint(sm) {
                background-size: 20px;
            }
        }
    }


    .hamburger-menu {
        background: linear-gradient(45deg, $secondaryColor 0%, $primaryColor 100%);
        @include positioning(fixed, 0%, 0%, auto, auto);
        z-index: 15;
        animation: moveInFromLeft 1s;

        @media(min-width:992px) {
            display: none;
        }

        &.hidden {
            display: none;
        }

        ul {
            @include positioning(absolute, 50%, auto, auto, 50%, 100%, auto);
            transform: translate(-50%, -50%);

            li {
                font-size: 1.5rem;
                animation: moveInFromLeft 2s;

                @include breakpoint(sm) {
                    font-size: 1.1rem;
                }

                &:nth-child(1) {
                    animation-delay: 100ms;
                }

                &:nth-child(2) {
                    animation-delay: 150ms;
                }

                &:nth-child(3) {
                    animation-delay: 200ms;
                }

                &:nth-child(4) {
                    animation-delay: 250ms;
                }

                &:nth-child(5) {
                    animation-delay: 300ms;
                }
            }
        }
    }
}