@use '../index' as *;

.services {

    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/services-bg.jpg');
    @include bgImage(center, no-repeat, cover, auto, 100%);
    background-attachment: fixed;

    h3 {
        color: $white;
    }


    &-content {
        margin-top: 40px;
        @include grid(2, 20px);

        @include breakpoint(lg) {
            grid-template-columns: repeat(1, 1fr);
        }


        article {

            h5 {
                font-size: 1.4rem;

                @include breakpoint(sm) {
                    font-size: 1.1rem;
                }
            }

            i {
                @include icons;
            }
        }
    }
}