@use '../index' as *;

.subscription {
    background: linear-gradient(45deg, $secondaryColor 0%, $primaryColor 100%);

    &-content {
        @include grid(4, 15px);

        @include breakpoint(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(md) {
            grid-template-columns: repeat(1, 1fr);
        }


        &-card {
            height: 100%;

            &:first-child {
                @include flex(center, flex-start, column);

                .sub-logo {
                    font-size: 2rem;
                }
            }

            h3 {
                font-size: 1.5rem;

                @include breakpoint(sm) {
                    font-size: 1.3rem;
                }
            }

            ul {
                li {
                    font-size: 1rem;
                    font-weight: 500;

                    @include breakpoint(sm) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}