@keyframes moveInFromLeft {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


@keyframes moveInFromBottom {

  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}