@mixin flex ($justify, $align, $direction:row, $wrap:nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin grid ($column, $gap) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    grid-gap: $gap;
    justify-content: center;
    align-items: center;
}

@mixin breakpoint($breakpoint) {

    @if $breakpoint==xl {
        @media (max-width: 1200px) {
            @content ;
        }
    }

    @else if $breakpoint==lg {
        @media (max-width: 992px) {
            @content ;
        }
    }

    @else if $breakpoint==md {
        @media (max-width: 768px) {
            @content ;
        }
    }

    @else if $breakpoint==sm {
        @media (max-width: 576px) {
            @content ;
        }
    }

    @else if $breakpoint==xs {
        @media(max-width:350px) {
            @content;
        }
    }
}

@mixin bgImage ($bgPosition, $bgRepeat, $bgSize, $height, $width) {
    background-position: $bgPosition;
    background-repeat: $bgRepeat;
    background-size: $bgSize;
    height: $height;
    width: $width;
}

@mixin positioning ($position, $top, $right, $bottom, $left, $width:100%, $height:100%) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
}

@mixin icons ($bg: $primaryColor) {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 1.4rem;
    text-align: center;
    background-color: $bg;
    color: $white;

    &:hover {
        transform: rotate(360deg);
        transition-duration: 0.8s;
    }

    @include breakpoint(sm) {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        line-height: 35px;
        font-size: 1rem;
    }
}