.text-primary {
  color: #00336c;
}

.text-secondary {
  color: #178ed0;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000000;
}

.text-headings {
  color: #323231;
}

.bg-primary {
  background-color: #00336c;
}

.bg-secondary {
  background-color: #178ed0;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000000;
}

.bg-headings {
  background-color: #323231;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

@keyframes moveInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes openPopup {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: 0.5s linear;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
}

body {
  line-height: 1.5;
  font-size: 100%;
  overflow-x: hidden;
}
@media (max-width: 576px) {
  body {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  text-transform: capitalize;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

i {
  cursor: pointer;
}

section {
  padding: 70px 0;
}

.container {
  width: 80%;
  margin: 0px auto;
}
@media (max-width: 768px) {
  .container {
    width: 80%;
    margin: 0px auto;
  }
}

.section__header {
  border-left: 5px solid #00336c;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.section__header .section__title {
  color: #00336c;
  text-transform: uppercase;
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .section__header .section__title {
    font-size: 1rem;
  }
}
.section__header .section__desc {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .section__header .section__desc {
    font-size: 1.3rem;
  }
}

.topnav {
  padding: 0;
  border-bottom: 3px solid #F3F3F3;
}
.topnav__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}
.topnav__wrapper .topnav__item {
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}
.topnav__wrapper .topnav__item:not(:last-child) {
  border-right: 3px solid #F3F3F3;
}
.topnav__wrapper .topnav__item i {
  color: #00336c;
  font-size: 2rem;
}
.topnav__wrapper .topnav__item .topnav__info .topnav__heading {
  text-transform: uppercase;
}
.topnav__wrapper .topnav__item .topnav__info .topnav__desc {
  font-size: 0.9rem;
}
@media (max-width: 1200px) {
  .topnav__wrapper .topnav__item {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
}
@media (max-width: 992px) {
  .topnav__wrapper .topnav__item {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
  position: relative;
  height: 10vh;
}
.nav__logo {
  width: 80px;
  margin-left: 5rem;
}
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  transition: 0s;
}
@media (max-width: 992px) {
  .nav__list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 100;
    background-color: #00336c;
    gap: 1rem;
    color: white;
    width: 100%;
    padding: 1rem 0;
    padding-left: 3rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .nav__list.open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media (max-width: 576px) {
  .nav__list {
    padding-left: 2rem;
  }
}
.nav__list__item .nav__list__link {
  display: inline-block;
  color: #323231;
  text-transform: uppercase;
  font-weight: 700;
  height: 10vh;
  line-height: 10vh;
  position: relative;
}
.nav__list__item .nav__list__link::before {
  position: absolute;
  top: calc(0% - 2px);
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #00336c;
  transition: 0.5s linear;
}
.nav__list__item .nav__list__link:hover::before {
  width: 100%;
}
@media (max-width: 992px) {
  .nav__list__item .nav__list__link {
    color: white;
    height: 2rem;
    line-height: 2rem;
  }
}
.nav__list .nav__btn {
  background-color: #00336c;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
@media (max-width: 992px) {
  .nav__list .nav__btn {
    background-color: white;
    color: #00336c;
    border: 2px solid #00336c;
    justify-content: flex-start;
    padding: 1rem 2rem;
    margin-right: 3rem;
  }
}
@media (max-width: 576px) {
  .nav__list .nav__btn {
    padding: 1rem;
  }
}
.nav #nav__hamburger {
  display: none;
}
@media (max-width: 992px) {
  .nav #nav__hamburger {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 3rem;
  }
}
@media (max-width: 576px) {
  .nav #nav__hamburger {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
}

.header {
  height: auto;
  background-image: url("../../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 3rem 0;
}
.header::before {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.header__wrapper .header__item {
  flex: 0 0 47%;
  z-index: 2;
}
@media (max-width: 1200px) {
  .header__wrapper .header__item {
    flex: 0 0 100%;
  }
}
.header__wrapper .header__item .header__heading {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
}
@media (max-width: 768px) {
  .header__wrapper .header__item .header__heading {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .header__wrapper .header__item .header__heading {
    font-size: 1.7rem;
  }
}
.header__wrapper .header__item .header__subheading {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header__wrapper .header__item .header__subheading {
    font-size: 1rem;
  }
}
.header__wrapper .header__item .header__link {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  background-color: #00336c;
  color: white;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.header__wrapper .header__item .header__link::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: white;
  transition: 0.6s linear;
  z-index: -1;
}
.header__wrapper .header__item .header__link:hover {
  color: #00336c;
}
.header__wrapper .header__item .header__link:hover::after {
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  transition: 0.6s linear;
  color: #00336c;
}
.header__wrapper .header__item:nth-child(2) .header__form {
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
@media (max-width: 576px) {
  .header__wrapper .header__item:nth-child(2) .header__form {
    padding: 1rem;
  }
}
.header__wrapper .header__item:nth-child(2) .header__form .contact__heading {
  color: white;
  margin-bottom: 1rem;
}
.header__wrapper .header__item:nth-child(2) .header__form .form__group {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.7rem;
}
@media (max-width: 768px) {
  .header__wrapper .header__item:nth-child(2) .header__form .form__group {
    flex-direction: column;
  }
}
.header__wrapper .header__item:nth-child(2) .header__form .form__group input {
  padding: 0.7rem;
  flex: 1;
  color: black;
}
@media (max-width: 576px) {
  .header__wrapper .header__item:nth-child(2) .header__form .form__group input {
    font-size: 0.8rem;
  }
}
.header__wrapper .header__item:nth-child(2) .header__form textarea {
  width: 100%;
  padding: 0.5rem;
}
.header__wrapper .header__item:nth-child(2) .header__form .submit__btn {
  width: 100%;
  display: block;
  padding: 0.8rem 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #00336c;
  color: white;
  cursor: pointer;
}

.about__descripiton {
  text-align: justify;
  margin-bottom: 2rem;
}
.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.about__wrapper .about__list__item {
  font-weight: 500;
  font-size: 1.1rem;
}
@media (max-width: 576px) {
  .about__wrapper .about__list__item {
    font-size: 0.9rem;
  }
}
@media (width < 350px) {
  .about__wrapper .about__list__item {
    font-size: 0.8rem;
  }
}
.about__wrapper .about__list__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.about__wrapper .about__list__item i {
  color: #00336c;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.about__wrapper .about__img img {
  height: 400px;
}

.services {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/services-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.services .section__header .section__desc {
  color: white;
}
.services__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
@media (max-width: 992px) {
  .services__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 992px) {
  .services__wrapper .services__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0rem;
    text-align: center;
  }
}
.services__wrapper .services__item i {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  line-height: 55px;
  font-size: 1.4rem;
  text-align: center;
  background-color: #00336c;
  color: #fff;
  transition: 200ms;
}
.services__wrapper .services__item i:hover {
  transform: rotate(360deg);
}
@media (max-width: 576px) {
  .services__wrapper .services__item i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    font-size: 1rem;
  }
}
.services__wrapper .services__item h5 {
  font-size: 1.4rem;
  color: white;
  margin-top: 1rem;
}
@media (max-width: 576px) {
  .services__wrapper .services__item h5 {
    font-size: 1.1rem;
  }
}
.services__wrapper .services__item p {
  color: white;
  font-weight: 500;
}

.footer {
  padding-top: 4rem;
  background-color: #f3f3f3;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 992px) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__wrapper .footer__item:first-child a {
  font-size: 2rem;
  color: #00336c;
}
.footer__wrapper .footer__item:first-child P {
  color: black;
  font-weight: bold;
}
.footer__wrapper .footer__item .footer__heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
  .footer__wrapper .footer__item .footer__heading {
    font-size: 1.3rem;
  }
}
.footer__wrapper .footer__item .footer__list i {
  margin-right: 0.5rem;
  color: #00336c;
}
.footer__wrapper .footer__item .footer__list li {
  font-weight: 500;
}
.footer__wrapper .footer__item .footer__list li:not(:last-child) {
  margin-bottom: 0.4rem;
}
@media (max-width: 576px) {
  .footer__wrapper .footer__item .footer__list li {
    font-size: 0.9rem;
  }
}
.footer__wrapper .footer__item .footer__list li a {
  color: black;
}
.footer__wrapper .footer__item .footer__list li a:hover {
  color: #00336c;
}
.footer__copy {
  text-align: center;
  padding: 2rem 0;
}

/*-----------------------------------------
PARTIALS
------------------------------------------*/

/*# sourceMappingURL=style.css.map */
